{% extends "layouts/main.twig" %}

{% block bodyId %}errore{% endblock %}
{% block metaTitle %}Errore{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-half">
                    <h1 class="title">Errore</h1>
                    <h3 class="subtitle">Non hai i permessi per compiere questa azione.</h3>
                    <a href="{{ path_for('home')|e('html_attr') }}">Torna all'homepage</a>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
{% endblock %}