{% extends "layouts/main.twig" %}

{% block bodyId %}not-found{% endblock %}
{% block metaTitle %}404 not found{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-half">
                    <h1 class="title">Resource not found</h1>
                    <h3 class="subtitle">Page does not exist.</h3>
                    <a href="{{ path_for('home')|e('html_attr') }}">Go to homepage</a>
                </div>
                <div class="column"></div>
            </div>

        </div>
    </section>
{% endblock %}